.authenticate {
    display: flex;
    flex-direction: column;
    margin-inline: 4%;
}

.authenticate > .header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 15%;
    font-size: 18pt;
    font-weight: bold;
}

.genna-helper {
    width: 10%;
    height: 10%;
    margin-right: 1%;
}

.authenticate > .form {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    gap: 1rem;
}

.authenticate > .form label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-bottom: 2%;
}

.authenticate > .form input {
    border-radius: 3px;
    background-color: white;
    border: 1px solid lightgray;
    font-size: large;
    padding: .5rem;
    width: calc(100% - 3% - 0.5rem);
}

  .display-name-message {
    margin-block: 2%;
    font-weight: lighter;
    font-size: 10pt;
  }


.authenticate > .form input:focus {
    border: 1px solid #7c03e0;
}

.authenticate a {
    font-weight: normal;
    text-decoration: none;
    color: black;
}

.forgot-password-link {
    margin-top: 2%;
    margin-bottom: 8%;
}

.signin-create-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.authenticate button {
    padding: 3% 5%;
    margin-top: 5%;
    border-radius: 10px;
    border: none;
    background-color: #7c03e0;
    font-size: 16px;
    font-weight: bold;
    color: white;
    transition: transform 0.1s ease-out;
}

button:active {
    transform: scale(1.1);
    background-color: #8a27db;
}

.SignIn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

@media (min-width: 768px) {

    .authenticate {
    display: flex;
    flex-direction: column;
    margin-inline: 30%;
    }

    .genna-helper:hover {
        cursor: pointer;
    }

}

.error {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 0.25rem;
    color: rgb(220, 0, 0);
    font-size: small;
    margin-top: 2%;
}

@media (min-width: 1024px) {

    .authenticate {
    display: flex;
    flex-direction: column;
    margin-inline: 35%;
    }

}