.content {
  padding-top: 5rem;
  background: linear-gradient(45deg, #24a3bf, #A65D85);
}

.authenticate {
  max-width: 28rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: white;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  cursor: default;
}

.mainHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  cursor: default;
}

.createAccountHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.5rem;
  cursor: default;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 1rem;
  cursor: default;
}

.form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.4rem;
  font-weight: bold;
  margin-left: 0.4rem;
}

.form input {
  background-color: #FAFAFA;
  border: none;
  border-radius: 16px;
  font-family: 'Plus Jakarta Sans';
  font-size: 12pt;
  padding: .65rem;
  width: calc(100% - 3% - 0.5rem);
  box-shadow: 0 2px 4px rgba(128, 128, 128, 0.25);
}

.form input:hover {
  outline: none;
}

.form input:focus {
  outline: none;
  box-shadow: 0 2px 6px rgba(128, 128, 128, 0.75);
}

.emailInput {
  margin-bottom: 1rem;
}

.caForm {
  gap: 1.5rem;
}

.displayNameMessage {
  margin-top: 2%;
  font-weight: 300;
  font-size: 10pt;
}

.authenticate a {
  text-decoration: none;
  color: white;
}

.forgotPasswordLink {
  margin-top: 0.1rem;
  margin-left: 0.4rem;
  max-width: 55%;
  text-decoration: none;
  font-size: 11pt;
}

.signInCreateRow {
  margin-top: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.caLink {
  color: #ffcdd9 !important;
  filter: drop-shadow(0 0 2px rgb(0 0 0 / 0.3));
  text-decoration: none;
  font-weight: 600;
  padding: 0.8rem 1rem;
}

.link {
  text-decoration: none;
  color: black;
}

.authenticate button {
  padding: 0.8rem 1.5rem;
  border-radius: 16px;
  font-size: 12pt;
  font-weight: bold;
  color: white;
  background: rgba(149, 149, 149, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.caSubmit {
  margin-top: 2%;
}

.authenticate button:hover {        
  background: rgba(199, 199, 199, 0.4);
}

.authenticate button:active {        
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5), 0 -2px 5px 0 #E0C6F5 inset;
}

.error {
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 0.25rem;
  font-size: small;
  color: #ffcdd9;
  margin-top: 2%;
  filter: drop-shadow(0 0 2px rgb(0 0 0 / 0.3));
}



@media (min-width: 460px) {

  .authenticate {
    margin: 0 auto;
  }

}
