:root {
  --descriptionColor: #595959;
}

.create {
  text-align: center;
  padding: 3rem 3rem 2rem 3rem;
  color: var(--descriptionColor);
  font-size: 11pt;
}

.createGrid{
    display: grid;
    gap: 2rem;
    padding-bottom: 3rem;
}

.createBtn {
  padding: 1.5rem;
  width: calc(80% - 1.5rem);
  border-radius: 10px;
  background-color: #fafafa;
  border: none;
  display: flex;
  margin: 0px auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 -2px 5px 0 #e0c6f5 inset;
  gap: 1.5rem;
  text-decoration: none;
}

.btnImg {
  width: 3rem;
  height: 3rem;
}

.btnLabel {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-top: 8px;
}

.btnTitle {
  color: #000;
  font-size: 18pt;
  margin: none;
  padding: none;
  font-family: "Nova Mono";
}

.btnDescription {
  color: var(--descriptionColor);
  font-size: 12px;
  font-family: numans;
}
