.createTool {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 85%;
  margin: 0 auto;
}

@media (min-width: 922px) {

  .createTool {
    max-width: 36rem;
    cursor: default;
  }

}