.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background: linear-gradient(45deg, #24a3bf, #A65D85);
  min-height: calc(100vh - 5rem);
  padding-top: 6rem;
}

.contentCard {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: calc(100% - 6rem);
  gap: 1rem;
  padding: 0 2rem 0 2rem;
  margin-inline: 0.5rem;
  margin: 0 auto;
  max-width: 36rem;
  color: white;
  cursor: default;
}

.artistHeader {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-inline: -1.5rem;
}

.profileImage img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}

.headerText {
  padding-left: 1rem;
}

.artist {
  padding-left: 0.2rem;
  font-size: 11pt;
}

.artistName {
  font-size: 22pt;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.buttonRow {
  display: flex;
  margin-inline: -2rem;
  padding-top: 1rem;
  justify-content: center;
  gap: 1rem;
}

.button {
  padding: 0.8rem 1.5rem;
  font-size: 12pt;
  align-self: center;
  color: white;
  background: rgba(181, 181, 181, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.button:hover {        
  background: rgba(199, 199, 199, 0.4);
}

.button:active {        
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.signOutButton {
  margin-block: 4rem;
}

.createIcon {
  display: flex;
  justify-content: center;
  font-size: 32pt;
  font-weight: 800;
  padding-block: 2.2rem;
  padding-bottom: 3rem;
}

.sectionHeader {
  font-size: 10pt;
  font-weight: 600;
  margin-left: -1rem;
  padding-top: 2rem;
}

.bio {
  font-size: 10pt;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 2px;
  grid-auto-rows: 150px;
  grid-auto-flow: dense;
  margin-inline: -2rem;
}

.card {
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 16px;
  margin: 4px;
}

.modal {
  position: absolute;
  padding: 1.5rem;
  margin-inline: 0.5rem;
  max-width: 36rem;
  cursor: default;
  color: white;
  z-index: 1;
  background: rgba(194, 194, 194, 0.7);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  animation: fadeAndScale 0.5s cubic-bezier(.39,-1.05,.58,1.95);
}

.modal form {
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

.formContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.nameInput {
  display: flex;
  flex-direction: column;
}

.bioInput {
  height: 4rem;
  border-radius: 16px;
  border: none;
  padding: .65rem;
  margin-top: 0.3rem;
  font-size: 12pt;
  font-family: 'Plus Jakarta Sans';
  resize: none;
}

.modal label {
  margin-bottom: 0.2rem;
  margin-left: 0.4rem;
}

.bioInput:focus {
  outline: none;
}

.formContent label {
  margin-bottom: 0.2rem;
  margin-left: 0.4rem;
}

.modal form input {
  border-radius: 16px;
  border: none;
  padding: .65rem;
  margin-top: 0.3rem;
  font-size: 12pt;
}

.modal form input:focus {
  outline: none;
}

.modalButtonRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
  padding-top: 2rem;
}

.nameError {
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 0.25rem;
  font-size: small;
  color: #ffcdd9;
  margin-top: 2%;
  max-width: 10rem;
}

.error {
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 0.25rem;
  font-size: small;
  color: #ffcdd9;
  margin-top: 2%;
  max-width: 18rem;
}

.cancel {
  cursor: pointer;
}

.slugRow {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  gap: 0.7rem;
}

@keyframes fadeAndScale {
  0% {
      opacity: 0;
      transform: scale3d(.75,.75,1);
  }

  100% {
      opacity: 1;
      transform: scale3d(1,1,1);
  }
}

@media (min-width: 768px) {

  .content {
    gap: 1rem;
  }

}