.discover-main{
    margin: 100px auto;
    width: 90%;
    font-family: 'Nova Mono', 'monospace';
}
.featured-container{
    display: flex;
    align-items: center;
    padding-top:40px;
    padding-bottom: 60px;
    position: relative;
}

.col-1{
    width: 180px;
    position: relative;
    height: 180px;
}
.col-1 div{
    width: 180px;
    height: 180px;
    position: absolute;
    box-shadow: 8px 12px 25px 0 rgba(0, 0, 0, 0.15);
    
}
.img-1{
    z-index: 1;
    right: -25px;
}
.img-2{
    z-index: 2;
    right: -15px;
    top: 15px;
    transform: rotate(-2deg);

}
.img-3{
    z-index: 3;
    top: 30px;
    transform: rotate(-4deg);
}
.col-1 img{
    width: 100%;
    height: 100%;
}
.col-2{
    text-align: center;
    width: auto;
    padding-left: 16px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
  }
  .box{
    width: 100%;
    height: 120px;
  }
  .box .img{
    background-color: rgb(222, 222, 222);
    width: inherit;
    height: inherit;
  }
