.discover {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-inline: 4%;
  padding-inline: 8%;
  margin: auto;
  align-items: center;
  display: flex;
  margin-top: 2rem;
}

.topRow {
  display: grid;
  gap: 2rem;
}

.module {
  display: flex;
  flex-direction: column;
  max-width: 28rem;
}

.columns {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  max-width: 36rem;
  max-width: 28rem;
}

.left {
  display: flex;
  flex-direction: column;
  min-width: 50%;
  max-width: 50%;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-width: 50%;
  max-width: 50%;
}

.header {
  white-space: nowrap;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 18pt;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 75%;
}

.link {
  color: #1877F2;
  font-size: 10pt;
  margin-top: 0.25rem;
}

.grid {
  max-width: 20rem;
}

.gridLink {
  color: #1877F2;
  font-size: 10pt;
  margin-top: 0.75rem;
}

.linkOverride {
  text-decoration: none;
  color: black;
}

.description {
  color: gray;
  font-size: 10pt;
  margin-top: 0.25rem;
}

.imageCollection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  max-width: 100%;
}

.imageCollection img {
    height: 100%;
    width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  column-gap: 8%;
  row-gap: 3%;
}

.grid img {
  width: 9rem;
  height: 9rem;
}

.gridTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-width: 9rem;
}

.carouselDiv {
  max-width: 100%;
}

.carousel {
  overflow: hidden;
  margin-bottom: 3rem;
}

.innerCarousel {
  display: flex;
}

.carouselItem {
  min-width: 112px;
  text-align: center;
  margin-right: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carouselItem img {
  object-fit: cover;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  margin-top: 0.5rem;
  margin-bottom: 0.7rem;
}

@media (min-width: 922px) {

  .discover {
    align-items: center;
  }

  .topRow {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }

  .topRowBlock {
    display: flex;
    justify-content: center;
    background-color:gainsboro;
    padding: 2rem;
    border-radius: 10px;
    background-color: #F1F4FA;
  }

  .imageCollection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 20rem;
  }
  
  .imageCollection img {
    height: 100%;
    width: 100%;
  }

  .carousel {
    background-color: #F1F4FA;
    padding-inline: 2rem;
    padding-top: 2rem;
    border-radius: 10px;
  }
  
}