.choice {
  color: white;
  display: flex;
  flex-direction: column;
  margin-inline: 0.5rem;
  max-width: 36rem;
  cursor: default;
}

.currentPrompt {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-block: 1rem;
  padding: 1rem;
  font-size: 11pt;
}

.category {
  font-weight: 700;
}

.stepChip{
  color: black;
  background-color: white;
  border-radius: 16px;
  font-size: 11pt;
  width: 4.5rem;
  padding-block: 0.2rem;
  margin-bottom: 0.5rem;
  text-align: center;
  align-self: center;
}

.subtitle {
  font-size: 11pt;
  font-weight: 600;
  padding-block: 1rem;
  padding-left: 0.4rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  column-gap: 1rem;
  row-gap: 1rem;
}

.gridItem {
  display: flex;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 8rem;
  height: 10rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding-inline: 1rem;
  animation: fadeAndScale 0.5s cubic-bezier(.39,-1.05,.58,1.95) backwards;
}

.gridItem:hover {        
  background: rgba(210, 210, 210, 0.4);
}

.gridItem:active {        
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

@keyframes fadeAndScale {
  0% {
      opacity: 0;
      transform: scale3d(.75,.75,1);
  }

  100% {
      opacity: 1;
      transform: scale3d(1,1,1);
  }
}

