.homeHeader {
    width: calc(100% - calc(8.5% * 2));
    padding-block: 1rem;
    padding-inline: 8.5%;
    background-color: #F1F4FA;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 6rem;
    height: 6rem;
}
  
.navIcons {
    display: flex;
    gap: 1rem;
}

.icon {
    display: flex;
    text-align: center;
}

.iconImage {
    height: 1.7rem;
    width: 1.7rem;
}

.link {
    font-size: small;
    color: black;
    text-decoration-line: none;
}
  
.profileIcon {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
}

@media (min-width: 922px) {
    .homeHeader {
        width: calc(100% - calc(10% * 2));
        padding-block: 1.5rem;
        padding-inline: 10%;
        background-color: #F1F4FA;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        width: 8rem;
        height: 8rem;
    }

    .logo img {
        cursor: default;
    }

    .navIcons {
        gap: 4rem;
    }

    .iconImage {
        height: 2.5rem;
        width: 2.5rem;
    }

    .link {
        font-size: medium;
    }
}