.modal {
  position: relative;
  z-index: 200;
  width: 80%;
  height: 80%;
  margin: auto;
}

.homeModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 25px;
}

.work {
  margin-inline: 5%;
  margin-block: 5%;
}

.work img {
  height: 70vw;
  width: 70vw;
}

.closeButton {
  width: 2rem;
  height: 2rem;
}