.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(45deg, #24a3bf, #A65D85);
  min-height: calc(100vh - 5rem);
  padding-top: 6rem;
}

.card {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  margin-inline: 0.5rem;
  max-width: 36rem;
  cursor: default;
  margin-bottom: 2rem;
  color: white;
}

.glass {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.card h1 {
  margin-bottom: 0.5rem;
}

.card p {
  font-size: 12pt;
}