.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  height: 50px;
  width: 50px;
  padding-top: 10rem;
  padding-bottom: 0.5rem;
  animation: spin 1.5s infinite linear;
}

.loading {
  color: white;
  font-size: 12pt;
  font-weight: 600;
  width: 12rem;
  text-align: center;
}

@keyframes spin {
  0% {
    opacity: 10%
  }
  50% {
    opacity: 100%
  }
  100% {
    opacity: 10%
  }
}