::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(201, 201, 201);
  opacity: 1; /* Firefox */
}
nav {
  margin: 0 auto;
  width: 100%;
  padding: 10px 0;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  border-top: none;

}
.logo {
  font-family: "open sans";
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
}
.cart {
  margin-right: 20px;
}
.logo-img {
  width: 40px;
  height: 40px;
}
.nav-icons {
  font-size: 25px;
}

/*responsive*/
@media only screen and (max-width: 600px) {
  .nav-icons {
    color: #000;
    font-size: 25px;
    display: flex;
    gap: 20px;
  }
  .logo {
    margin-left: 30px;

  }
  .logo-img{
    width: 60px;
    height: 60px;
  }
  .cart {
    margin-right: 10px;
  }
}
