.header {
  position: fixed;
  top: 0;
  width: calc(100% - 2.4rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  padding: 1rem 1.2rem;
  z-index: 2;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.scrolled {
  height: 5rem;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(192, 192, 192, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 0;
  animation: fadeIn 0.25s linear;
}

.searchActive {
  height: 100vh;
  background: rgba(133, 133, 133, 0.6);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(10px);
}

.logo {
  height: 3rem;
  width: 3rem;
  filter: drop-shadow(0 0 2px rgb(0 0 0 / 0.7));
}

.navIcons {
  display: flex;
  align-items: center;
  gap: 1rem;
  max-height: 3rem;
}

.searchIcon {
  height: 1.2rem;
  width: 1.2rem;
  filter: drop-shadow(0 0 2px rgb(0 0 0 / 0.7));
  cursor: pointer;
}

.signIn {
  font-size: 10pt;
  color: white;
  font-weight: 300;
  filter: drop-shadow(0 0 2px rgb(0 0 0 / 0.7));
}

.profileIcon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: solid 1px white;
  filter: drop-shadow(0 0 2px rgb(0 0 0 / 0.7));
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@media (min-width: 922px) {

  .header {
    width: calc(100% - 6rem);
    padding: 1rem 3rem;
    gap: 2rem;
  }
}