.searchBar {
  display: flex;
  width: 100%;
  flex-grow: 1;
  position: relative;
  max-width: 28rem;
  margin-inline: auto;
}

.link {
  text-decoration: none;
  color: black;
}

.searchBar input {
  flex-grow: 1;
  background-color: rgba(236, 236, 236, 0.7);
  color: rgb(52, 52, 52);
  font-weight: 500;
  height: 40px;
  border-radius: 16px;
  padding-left: 3rem;
  font-size: 11pt;
  border: none;
  z-index: 3;
}

.searchBar input::placeholder {
  color: rgb(52, 52, 52);
  font-weight: 500;
}
  
.searchBar input:focus {
  outline: none;
}

.searchBarMagnifyingGlass {
  height: 1rem;
  width: 1rem;
  position: absolute;
  cursor: pointer;
  top: 2%;
  left: 4%;
  z-index: 4;
}

.clearSearchBarIcon {
  position: absolute;
  cursor: pointer;
  top: 1.4%;
  right: 4%;
  z-index: 4;
}

.searchResults {
  color: rgb(209, 209, 209);
  font-weight: 600;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5%;
  width: 100%;
  padding-top: 25px;
  z-index: 2;
}

.searchResult {
  display: flex;
  align-items: center;
  border-radius: 16px;
  padding-block: 3%;
  margin-bottom: 1%;
  padding-inline: 6%;
  cursor: pointer;
}

.searchResult:hover {
  background-color: rgba(183, 183, 183, 0.4);
}

.resultProfileIcon {
  max-width: 2.5rem;
  max-height: 2.5rem;
  border-radius: 50%;
}

.resultIcon {
  max-width: 2.5rem;
  max-height: 2.5rem;
  border-radius: 12px;
}

.resultText {
  margin-left: 1rem;
}

.viewFullResults {
  color: rgb(241, 241, 241);
  font-weight: 600;
  padding-left: 6%;
  font-size: 10pt;
  padding-top: 5%;
  padding-bottom: 5%;
  border-radius: 16px;
}

.viewFullResults:hover {
  background-color: rgba(183, 183, 183, 0.4);
}

.noSearchResults {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  color: rgb(209, 209, 209);
  top: 8%;
  width: 100%;
  z-index: 2;
  cursor: default;
}

.noSearchResults:last-child {
  padding-bottom: 25%;
}

.bender {
  max-width: 80px;
  color: grey;
}

@media (min-width: 922px) {
  
}