
  .search-bar > input {
    margin: 0 auto;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: none;
    text-indent: 10px;
    z-index: 20;
    font-size: 17px;
    width: 100%;
    padding: 20px 0px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 82, 0.15);
  }
  
  input:focus {
    outline: none;
  }
  
  .search {
    font-size: 20px;
  }
  
  .dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height: auto;
    width: 100%;
    margin-top: 0;
    box-shadow: 8px 12px 25px 0 rgba(0, 0, 0, 0.15);
    border-radius: 0 0 10px 10px;
    z-index: 40;
  }
  .dropdown-row {
    min-height: 30px;
    text-align: start;
    margin: 2px 0px;
    text-indent: 30px;
    cursor: pointer;
    border: none;
    font-weight: 500;
    border-radius: 5px;
    font-size: small;
    text-decoration: none;
    color: black;
  }
  
  .dropdown-row:hover {
    background-color: rgb(227, 227, 227);
  }
  
  /*responsive*/
  @media only screen and (max-width: 700px) {

  .search-bar {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index: 20;
}
.search-bar input {
  font-size: small;
}
.search-bar input:focus {
  outline: none;
}
.dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height: auto;
    max-width: 100%;
    margin-top: 0px;
    border: none;
    border-radius: 0 0 10px 10px;
  }
  .dropdown-row {
    height: 30px;
    text-align: start;
    margin: 10px 0px;
    text-indent: 10px;
    cursor: pointer;
    border: none;
    font-weight: 500;
    border-radius: 5px;
    font-size: 13px;
    overflow: scroll;
    white-space: nowrap;
  }
  .clear {
    position: absolute;
    right: 66px;
    top: 8px;
    font-size: 15px;
    color: rgb(159, 159, 159);
    cursor: pointer;
  }
  }