.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #24a3bf, #A65D85);
  padding-top: 6rem;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-inline: 0.5rem;
  max-width: 28rem;
  cursor: default;
  margin-bottom: 2rem;
  color: white;
  animation: fadeAndScale 0.5s cubic-bezier(.39,-1.05,.58,1.95) backwards;
}

.tipsCard {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  margin-inline: 0.5rem;
  max-width: 29rem;
  cursor: default;
  margin-bottom: 1rem;
  color: white;
  animation: fadeAndScale 0.5s cubic-bezier(.39,-1.05,.58,1.95) backwards;
}

.glass {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.card h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.splashSubtitle {
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.subtitle {
  font-weight: 600;
  font-size: 11pt;
  margin-bottom: 1rem;
}

.paragraph {
  padding-bottom: 1rem;
  font-size: smaller;
}

.paragraph:last-child {
  padding-bottom: 0;
  font-size: smaller;
}

.button {
  padding: 0.8rem 1.5rem;
  margin-top: 0.5rem;
  font-weight: bold;
  align-self: center;
  color: white;
  background: rgba(181, 181, 181, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  animation: fadeAndScale 0.5s cubic-bezier(.39,-1.05,.58,1.95) backwards;
}

.button:hover {        
  background: rgba(199, 199, 199, 0.4);
}

.button:active {        
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

@keyframes fadeAndScale {
  0% {
      opacity: 0;
      transform: scale3d(.75,.75,1);
  }

  100% {
      opacity: 1;
      transform: scale3d(1,1,1);
  }
}

.transparentCard {
  display: flex;
  flex-direction: column;
  margin-inline: 0.5rem;
  width: calc(100% - 2rem);
  max-width: 32rem;
  cursor: default;
  margin-bottom: 2rem;
  color: white;
}

.prompt {
  font-size: 16pt;
  font-weight: 600;
  margin-bottom: 1rem;
  padding-left: 0.7rem;
  filter: drop-shadow(0 0 2px rgb(0 0 0 / 0.7));
}

.promptInput {
  width: calc(100% - 2rem);
  height: 2.2rem;
  padding: 1rem;
  resize: none;
  margin-bottom: 0.5rem;
  font-size: 12pt;
  font-family: 'Numans';
  background-color: #FAFAFA;
  border: none;
  border-radius: 16px;
  font-family: 'Plus Jakarta Sans';
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  animation: fadeAndScale 0.5s cubic-bezier(.39,-1.05,.58,1.95) backwards;
}

.promptInput:focus {
  outline: none;
}

.error {
  font-size: 11pt;
  font-weight: 600;
  color: rgb(252, 208, 215);
}

.tips {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.tipsModal {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #F1F4FA;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: smaller;
}