.outerBar {
  height: 1rem;
  width: 10rem;
  border-radius: 10px;
  background-color: #F1F4FA;
}

.innerBar {
  height: 1rem;
  border-radius: 10px;
  background-color: #D1B5FD;
}

@media (min-width: 922px) {

  .outerBar {

  }
  
  .innerBar {
  
  }

}