.carouselItemSkeleton {
  animation: pulse 2s infinite linear;
  background-color: #d3d1d1;
  min-width: 100vw;
  height: 20vw;
  min-height: 112px;
}

@media (min-width: 922px) {
      
  .carouselItemSkeleton {
    animation: pulse 2s infinite linear;
    min-width: 20%;
    height: 10rem;
    margin: 1px;
  }

}



@keyframes pulse {
  0% {
  background-color: #e1e3e6;
  }
  50% {
  background-color: #d3d1d1;
  }
  100% {
  background-color: #e1e3e6;
  }
}